.row
  .col-9
    %h1 Frequently Asked Questions
    %h3 1) What kind of files can I upload?
    %p You can upload any .gpx or .xml file containing geographic trackpoint data (latitude, longitude, elevation, time).
    %h3 2) What types of visualization can I make with my data?
    %p You have the option to plot your data in either a customizable elevation profile or an interactive topographic map.
    %h3 3) What can I do once I've finished customizing my figure?
    %p Once you've finished your visualization, you can choose to save it here for later, purchase a high resolution image file of your plot, or purchase a high quality canvas printout of your figure!
    %h3 4) If I want to purchase a canvas printout of my image, what sizes are available?
    %p Available dimensions for the elevation profile are 12"x16" (small), 18"x24" (medium), and 36"x48"(large).
    %p Available dimensions for the topographic figure are 12"x12" (small), 24"x24" (medium), and 36"x36" (large).
    %h3 5) If I want to purchase my figure, waht payment options are available?
    %p We accept major credit cards through Stripe [RETURN LATER TO UPDATE AS NECESSARY]
  .col-3
    %h2 About the developer section?
