%body
  .container-fluid
    .row.no-gutters
      .col
        =image_tag("Green.jpg", class: 'img-fluid')
      .col
        =image_tag("Gray.jpg", class: 'img-fluid')
      .col
        =image_tag("Stream.jpg", class: 'img-fluid')

    .row.home-banner
      .col
        .p
          Your favorite adventures, as artwork in your home.
