%body
  .container-fluid
    .row
      .col.no-gutters
        =image_tag("Green.jpg", class: 'img-fluid')
      .col.no-gutters
        =image_tag("Gray.jpg", class: 'img-fluid')
      .col.no-gutters
        =image_tag("Stream.jpg", class: 'img-fluid')
    .row.home-banner
      .col.no-gutters.scrim
        Your favorite adventures, seen in a whole new way.
    .row
      .col.no-gutters
        =image_tag("Topo.png", class: 'img-fluid')
      .col.no-gutters
        =image_tag("Plot.png", class: 'img-fluid')
