/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
*/
 @import 'bootstrap';
 @import 'rfs/scss';

a:link{
  color: black;
}

body{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), asset_url('Contour.jpg');
}

.body-link{
  color: white;
}

.btn-light{
  font-size: 2.5em;
  width: block;
}

.container{
  align-items: center;
  height: 100%;
  justify-content: center;
}

#elevation_container{
  height: 50vh;
}

.faq{
  color: white;
}

.home-banner{
 color: white;
 font-size: 2.5em;
 text-align: center;
 text-shadow: 2px 2px black;
}

img{
  border: 1px solid #000000;
}

.index-link{
  color: red;
}

#map{
  height: 80vh;
  width: 100%;
}

nav{
  background: rgba(255,255,255,0.7);
}

nav .navbar-nav li a{
  color: black !important;
  font-size: 1.4em;
  }

nav .navbar-brand{
  color: black !important;
  font-size: 2em;
}

.text-background{
  background: rgba(255,255,255,0.7);
}

.text-header{
  color: white;
}


