.container-fluid
  %h1.text-center.text-header Topographic map for #{@topographic_map.chart_title}
  .row.text-center
    .col-8
      =link_to "Map Index", gpx_topographic_maps_path(@topographic_map.gpx_id), :class => 'body-link'
      #map
        :javascript
          #{render 'map.js'}
    .col.text-background
      %h2 Want to see this profile in your home?
      = image_tag('Topo_wall.jpg', class: 'img-fluid')
      = render 'order', object: @topographic_map
